<!--**********************************
Content body start
***********************************-->
<!-- <div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <button class="btn mb-1 btn-flat label gradient-1 rounded pointer btn-lg" id="upgrade-btn">UPGRADE</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--**********************************
Content body end
***********************************-->

<!-- <script src="https://www.paypal.com/sdk/js?client-id=AfHvi5aNtvK3kA3MjKatfMEpqbZSn-6LZ9UMpHm5IeNk9UUUvhIx2OSToKOdZN35QENWvwbRikwWTKFH&currency=INR"></script>
 -->
<!--<script>
//paypal.Buttons({
  // Set up the transaction
  // createOrder: function(data, actions) {
  //   return fetch('/create_payment', {
  //     method: 'post'
  //   }).then(function(res) {
  //      
  //       return res.json();
  //   }).then(function(data) {
  //   
  //       return data.orderID;
  //   });
  // },
  // Finalize the transaction
//   onApprove: function(data, actions) {
//     return fetch('/payment_complete' + data.orderID + '/capture/', {
//         method: 'post'
//     }).then(function(res) {
//         return res.json();
//     }).then(function(details) {
//       // Show a success message to the buyer
//       alert('Transaction completed by ' + details.payer.name.given_name + '!');
//     });
//   } 
// }).render('.col-md-4');
// </script> -->