<!--**********************************
Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">
              <h1>Audiences#show</h1>
            	<p>
            	  <strong>Name:</strong>
            	  <%= @audience.name %>
            	</p>
            	<p>
            	  <strong>customaudience_id:</strong>
            	  <%= @audience.customaudience_id %>
            	</p>
              <%= link_to 'Back', audiences_path %>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- #/ container -->
</div>
<!--**********************************
Content body end
***********************************-->