<div class="ad_preview_modal">
  <div class="AudienceModal">
    <div class="AdPreview">
      <span class="Inner">
        <iframe src="https://www.facebook.com/ads/api/preview_iframe.php?d=AQIeiA3B_XwV-voj2KLcF5OdopYJhYPIf40jKpJp2aL4dnfiU6T6Qca48HO4S9jIRNPyoy0VWpsWPux4GnWAFV8XG2kWGDf8Zg08Tt1V64bwp6UwYaleSfne6kd6oPAZ0HVE5coFU-N96Kx0kedbAlpki_9BrUuQZRLz6XnaIRMvt7K5QNHVNpD64uSKBUhe_ckfwrsYx-tua_TehbDhf1Bi409senk7iS9Ijo1YY_78WtZOok30dReHnSLQr-T6BuFUYzDUOgz1tf802NwLq_jakjB6GQESrAOnqm4XYA7kfzAyhLhpEmGo_o4gLf2zFDf_AfwMdW2ZrZPLNjRDQp15&amp;t=AQLrEIQmvzR7Sjx1" width="540" height="690" scrolling="no" style="transform-origin: 0px 0px;"></iframe>
      </span>
    </div>
    <button class="preview_Close">
      <svg width="9" height="9" viewBox="0 0 9 9"> <defs> <path id="1lpza" d="M93 19l7.756 7.756"></path> <path id="1lpzb" d="M93 26.756L100.756 19"></path> </defs> <g> <g transform="translate(-92 -19)"> <g> <use fill="#fff" fill-opacity="0" stroke="currentColor" stroke-miterlimit="50" xlink:href="#1lpza"></use> </g> <g> <use fill="#fff" fill-opacity="0" stroke="currentColor" stroke-miterlimit="50" xlink:href="#1lpzb"></use> </g> </g> </g> </svg>
    </button>
  </div>
</div>