<div class="ad_picker">
  <div class="ad_picker-header">
    <div class="header_left">
      <div class="first">
        <span>Graded by:</span>
        <select class="select_rolls">
          <option value="volvo">ROAS (All)</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="second">
        <span>Min. Spend:</span>
        <div class="MinimumSpendInput">
          <div class="Currency">A$</div>
          <input type="number" min="0" step="1" value="0">
        </div>
      </div>
      <div class="third">
        <button type="button" class="filter_btn">
          <span class="FilterMenu__WrapperTitle">Smart Performance Filtering</span>
          <svg width="12" height="8" viewBox="0 0 12 8"> <g> <g> <path fill="#0d182f" d="M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6z"></path> </g> </g> </svg>
        </button>
      </div>
    </div>
    <div class="header_right">
      <div class="DateSelector ">
        <svg width="22" height="21" viewBox="0 0 22 21"> <defs> <clipPath id="clip-icon"> <rect width="22" height="21"></rect> </clipPath> </defs> <g id="icon" clip-path="url(#clip-icon)"> <path id="Path_6923" data-name="Path 6923" d="M18.7,2.813H15.053V.781a.761.761,0,1,0-1.521,0V2.813H5.93V.781a.761.761,0,1,0-1.521,0V2.813H.76A.773.773,0,0,0,0,3.594V19.219A.773.773,0,0,0,.76,20H18.7a.773.773,0,0,0,.76-.781V3.594A.773.773,0,0,0,18.7,2.813Zm-.76,1.562V6.328H1.521V4.375ZM1.521,18.438V7.891H17.942V18.438Zm11.244-7.582a.8.8,0,0,1,0,1.105L9.344,15.477a.739.739,0,0,1-1.072,0L6.7,13.863a.8.8,0,0,1,0-1.105.747.747,0,0,1,1.076,0L8.812,13.82,11.7,10.855A.732.732,0,0,1,12.765,10.855Z" transform="translate(1)" fill="#a0aabe"></path> </g> </svg>

        <div class="DateDisplay">03/27/2020-04/10/2020</div>

        <svg width="11" height="6" viewBox="0 0 11 6" class="Arrow"> <defs> <path id="wi5fa" d="M420.536 387.193a.644.644 0 0 0-.466-.193h-9.393a.681.681 0 0 0-.483.193.681.681 0 0 0-.193.483c0 .176.064.337.193.466l4.696 4.696c.13.13.29.194.467.194a.644.644 0 0 0 .466-.194l4.713-4.696a.644.644 0 0 0 .193-.466.681.681 0 0 0-.193-.483z"></path> </defs> <g> <g transform="translate(-410 -387)"> <use fill="#0d182f" xlink:href="#wi5fa"></use> </g> </g> </svg>
      </div>
    </div>
  </div>
  
  <div class="AdsContainer">
    <div class="AdContainer ">
      <div class="AdContainer__Overlay">
        <label class="SimpleCheckbox">
          <input class="SimpleCheckbox__Input" type="checkbox" readonly="">
        </label>
        <div class="AdContainer__Insights">
          <div class="AdContainer__Insight">ROAS (All):<span class="AdContainer__InsightValue">1.18x</span></div>
          <div class="AdContainer__Insight">Amount Spent:<span class="AdContainer__InsightValue">A$252.6</span></div>
          <div class="AdContainer__Insight">CTR:<span class="AdContainer__InsightValue">0.84%</span></div>
        </div>
        <div class="AdPreview">
          <span class="Inner">
            <iframe src="https://www.facebook.com/ads/api/preview_iframe.php?d=AQKoO842txs70nw-NRdu2Uj2Zk00-u7U4qRqdWZTHlvnLfx4QrLbjlBgJI0dhwHLJ5b2EBndKFIMVG0gETgDtjckTvsnjzZiMjL2YPgvgpoIoGr-nWF6NR2_dPNcM2jvuX2Sjw_4oCk9QJfmo89T_AMI8dLMcKaxZ00nifQWfLOVeqgXgeNFJNdzybYu4_VqHuFcKDSzk1AtU0510wQyRiRetGAyQSF-ct7Xvhp7Kt8bqYHA5Ah98S6Z0JvxK8b8_GcXd_xgcmG8rSmXvDjnAGaefORTvP5Z0KYfr8e1S6YTFPXsrdqzxkbFcQwnITTG67-DS5ljzdrIHstJTqYB8otQ&amp;t=AQKH5sAUk_Ev8YyE" width="540" height="690" scrolling="no" style="transform: matrix(0.39, 0, 0, 0.39, 14.7, 0); transform-origin: 0px 0px;"></iframe>
          </span>
        </div>
      </div>
      <button class="AdContainer__Zooming">
        See the Ad preview
        <svg width="13" height="14" viewBox="0 0 13 14"> <defs> <path id="5kifa" d="M850.62 950.435V937h12.458v13.435z"></path> <path id="5kifc" d="M857.46 942.075h-1.466v-1.469a.245.245 0 0 0-.244-.244.245.245 0 0 0-.245.244v1.469h-1.465a.245.245 0 0 0 0 .49h1.465v1.467a.245.245 0 0 0 .489 0v-1.468h1.466a.245.245 0 0 0 0-.49z"></path> <path id="5kife" d="M851.109 942.32a4.651 4.651 0 0 1 4.64-4.65 4.651 4.651 0 0 1 4.642 4.65 4.651 4.651 0 0 1-4.641 4.649 4.651 4.651 0 0 1-4.641-4.65zm11.902 7.408l-3.63-3.784a5.14 5.14 0 0 0-3.63-8.767 5.144 5.144 0 0 0-5.131 5.142c0 2.833 2.302 5.14 5.13 5.14a5.106 5.106 0 0 0 3.27-1.184l3.636 3.79a.25.25 0 0 0 .348.006.245.245 0 0 0 .007-.343z"></path> <clipPath id="5kifb"> <use xlink:href="#5kifa"></use> </clipPath> <clipPath id="5kifd"> <use xlink:href="#5kifa"></use> </clipPath> </defs> <g> <g transform="translate(-850 -937)"> <g> <g> <g> <g clip-path="url(#5kifb)"> <use fill="currentColor" xlink:href="#5kifc"></use> </g> </g> <g> <g clip-path="url(#5kifd)"> <use fill="currentColor" xlink:href="#5kife"></use> </g> </g> </g> </g> </g> </g> </svg>
      </button>
    </div>
  </div>
</div>