<div class="third_step_box">

  <div class="ad_creatives_step_box">
    <div class="step_box">
      <button type="button" class="back_btn">
        <svg width="8" height="12" viewBox="0 0 8 12" class="arrow_svg"> <defs> <path id="zg45a" d="M25.4 19.6L20.8 15l4.6-4.6L24 9l-6 6 6 6z"></path> </defs> <g> <g transform="translate(-18 -9)"> <use fill="currentColor" xlink:href="#zg45a"></use> </g> </g> </svg>
        <span>Back</span>
      </button>
      <div class="mid_box">
        <div>Select the Ad Creatives</div>
        <div class="steps" >
          <div class="mid_line_step">
            <div class="line_1"></div>
            <div class="line_2"></div>
          </div>
          <button class="Button Selected">1</button>
          <button class="Button ">2</button>
          <button class="Button ">3</button>
        </div>
      </div>

      <button disabled="" class="save_changes_btn" >
        <div>Save Changes</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"> <defs> <path id="twwya" d="M1299.6 38.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z"></path> </defs> <g> <g transform="translate(-1299 -37)"> <use fill="#fcfcfc" xlink:href="#twwya"></use> </g> </g> </svg>
      </button>
    </div>
  </div>

  <div class="setting_box">
    <div class="selected_audiences_box" style="display: block;">
      <div class="selected_audiences_box_inner">
        <div class="audiences_header">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"> <g> <g> <path fill="#a0aabe" d="M7 2c1.1 0 2 .9 2 2v1c0 1.1-.9 2-2 2s-2-.9-2-2V4c0-1.1.9-2 2-2zm0 7c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4S3 1.8 3 4v1c0 2.2 1.8 4 4 4zm-.9 3H8c1.5 0 2.8.8 3.5 2H2.6c.7-1.2 2-2 3.5-2zm7.9 4c0-3.3-2.7-6-6-6H6c-3.3 0-6 2.7-6 6z"></path> </g> </g> </svg>
          Your selected audiences
        </div>
        <div class="selected_audiences_section">
          <div class="audiences-box selected_box">
            <div class="audiences-box-header">
              <span class="indicator"></span>
              Select all Re-Engagement 
              <span class="count">(1)</span>
            </div>
            <div class="audiences-box-item">
              <div class="inner_item">
                <%= image_tag 'video_viewers.svg' %>
                <span class="">Video Casuals</span>
                <div class="copy_svg">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="15px" viewBox="0 0 13 15" enable-background="new 0 0 13 15" xml:space="preserve"> <image id="image0" width="13" height="15" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAMAAAAI/bVFAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAC0ucSzucO0uMSz t8O3t8eyusK0ucS1ucW1usW1ucW0usSvv7+0ucO1usW0ucT///97Ep42AAAAD3RSTlMAoIBwQCA/ sMAwf78Q8GDgJ6GXAAAAAWJLR0QQlbINLAAAAAd0SU1FB+MGEAgrDPKIgUkAAABBSURBVAjXY2Dk hwImBiDgZ2aBAFYwj4WBlQ0KQDxWmFp+diCPhZ8BApg4qMTj4ETmMTDg53FBADeIx8MBdRgvHwDE nwQpxAJpPAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNi0xNlQwODo0MzoxMiswMzowMNWUEQ4A AAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDYtMTZUMDg6NDM6MTIrMDM6MDCkyamyAAAAAElFTkSu QmCC"></image> </svg>

                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14px" height="15px" viewBox="0 0 14 15" enable-background="new 0 0 14 15" xml:space="preserve"> <image id="image0" width="14" height="15" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAMAAADjyg5GAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEUAAAC0ucOzt8O0ucSz ucO1ucW0usS0ucS0ucO0ucS1usW0usS0ucS3t8e0uMS0ucS1uMWvv7+zucK0ucSyusK0ucS0ucT/ //8YI+O1AAAAFnRSTlMA8EDQgMC/7+PXMOCgIHCwkBBQXz/PSSg1nQAAAAFiS0dEFwvWmI8AAAAH dElNRQfjBhAIOBSAC1iNAAAAcUlEQVQI1z2PixKDMAgE8YSooTb2If//qZKL7c6EyZIJD5FkigTy IwDMyquVUpY865ahivpDb0L3fH7+//TQVFystgqqqsQeMMCpLStTjWpUh1Iz6egJPaiL2FAOkgWH GvUVd1t7j+6fLznHEtynkyNeC+0FaCm0E/UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDYtMTZU MDg6NTY6MjArMDM6MDDrIxNAAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA2LTE2VDA4OjU2OjIw KzAzOjAwmn6r/AAAAABJRU5ErkJggg=="></image> </svg>
                </div>
              </div>
            </div>
          </div>

          <span class="select_all_btn">Unselect all in this view</span>
        </div>
      </div>
    </div>
    
    <div class="Audience_apply_box">
      <div class="box-left">
        Apply settings to selected audiences
        <div class="select_count">1 selected</div>
        <div class="select_name">Video Casuals</div>
      </div>
      <button disabled="" class="save_changes_btn">
        <div>Save Changes</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"> <defs> <path id="twwya" d="M1299.6 38.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6z"></path> </defs> <g> <g transform="translate(-1299 -37)"> <use fill="#fcfcfc" xlink:href="#twwya"></use> </g> </g> </svg>
      </button>
    </div>

    <div class="creative_picker_box">
      <div class="creative_picker_inside">
        <div class="creative_picker_header">
          <div class="title-header">Select the Ad Creatives that going to be applied to those audiences above</div>
          <div class="LearningWidget">
            <div class="IconWrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"> <g> <g> <path fill="none" stroke="#9f81eb" stroke-miterlimit="50" stroke-width="1.5" d="M10.621 1a9.158 9.158 0 0 0-8.044 13.53l-1.112 4.782v0L6.247 18.2a9.158 9.158 0 0 0 13.53-8.044c0-5.055-4.1-9.156-9.156-9.156z"></path> </g> <g> <path fill="#9f81eb" d="M10.163 15.351c.315 0 .588-.11.81-.332.227-.221.338-.483.338-.792 0-.309-.111-.57-.344-.786a1.173 1.173 0 0 0-.821-.327c-.315 0-.589.111-.816.332a1.062 1.062 0 0 0-.338.793c0 .308.117.57.35.786.233.215.507.326.821.326zm.816-3.355v-.67c0-.402.093-.716.273-.937.07-.082.163-.181.28-.297.116-.117.256-.251.425-.408.169-.157.303-.286.402-.385.099-.099.245-.273.437-.512.332-.402.495-.903.495-1.509 0-.873-.28-1.555-.845-2.044-.565-.49-1.293-.734-2.19-.734s-1.642.256-2.242.763c-.6.507-.95 1.206-1.049 2.103h1.83c.04-.39.192-.705.448-.944.262-.239.576-.355.96-.355.385 0 .694.128.939.372.238.245.36.554.36.927 0 .372-.116.687-.349.937l-1.1 1.101c-.327.32-.536.577-.63.775-.099.192-.145.495-.145.897v.92z"></path> </g> </g> </svg>
            </div>
            <div class="Title">Fetch Ads &amp; Posts Using the ID</div>
            <div class="OptionsMenu">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="" title=""> <g> <g> <path fill="#0a4673" d="M14.164 5.15H3.836v-.934h10.328zm0 4.297H3.836v-.933h10.328zm0 4.298H3.836v-.934h10.328zM3.836 10.662h7.851v.934H3.836zm0-4.297h7.851v.933H3.836zM9 0a9 9 0 1 0 0 18A9 9 0 0 0 9 0z"></path> </g> </g> </svg>
            </div>
          </div>
          <div class="LearningWidget">
            <div class="IconWrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"> <g> <g> <path fill="none" stroke="#9f81eb" stroke-miterlimit="50" stroke-width="1.5" d="M10.621 1a9.158 9.158 0 0 0-8.044 13.53l-1.112 4.782v0L6.247 18.2a9.158 9.158 0 0 0 13.53-8.044c0-5.055-4.1-9.156-9.156-9.156z"></path> </g> <g> <path fill="#9f81eb" d="M10.163 15.351c.315 0 .588-.11.81-.332.227-.221.338-.483.338-.792 0-.309-.111-.57-.344-.786a1.173 1.173 0 0 0-.821-.327c-.315 0-.589.111-.816.332a1.062 1.062 0 0 0-.338.793c0 .308.117.57.35.786.233.215.507.326.821.326zm.816-3.355v-.67c0-.402.093-.716.273-.937.07-.082.163-.181.28-.297.116-.117.256-.251.425-.408.169-.157.303-.286.402-.385.099-.099.245-.273.437-.512.332-.402.495-.903.495-1.509 0-.873-.28-1.555-.845-2.044-.565-.49-1.293-.734-2.19-.734s-1.642.256-2.242.763c-.6.507-.95 1.206-1.049 2.103h1.83c.04-.39.192-.705.448-.944.262-.239.576-.355.96-.355.385 0 .694.128.939.372.238.245.36.554.36.927 0 .372-.116.687-.349.937l-1.1 1.101c-.327.32-.536.577-.63.775-.099.192-.145.495-.145.897v.92z"></path> </g> </g> </svg>
            </div>
            <div class="Title">Why Can't I See My Ads Using the Ads Picker</div>
            <div class="OptionsMenu">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="" title=""> <g> <g> <path fill="#0a4673" d="M14.164 5.15H3.836v-.934h10.328zm0 4.297H3.836v-.933h10.328zm0 4.298H3.836v-.934h10.328zM3.836 10.662h7.851v.934H3.836zm0-4.297h7.851v.933H3.836zM9 0a9 9 0 1 0 0 18A9 9 0 0 0 9 0z"></path> </g> </g> </svg>
            </div>
          </div>
        </div>

        <div class="custom_nav-section">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home" style="border-color: rgb(217, 100, 197);">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"> <defs> <clipPath id="e0noa"> <path fill="#fff" d="M10.272 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z"></path> </clipPath> <clipPath id="e0nob"> <path fill="#fff" d="M12.241 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z"></path> </clipPath> </defs> <g> <g> <g> <path fill="#d964c5" d="M1.113 0h12.241c.615 0 1.113.498 1.113 1.113v12.241c0 .615-.498 1.113-1.113 1.113H1.113A1.113 1.113 0 0 1 0 13.354V1.113C0 .498.498 0 1.113 0z"></path> </g> <g> <path fill="#fff" d="M1.113 4.226c0-1 1-2 2-2h8.241c1 0 2 1 2 2v7.128c0 1-1 2-2 2H3.113c-1 0-2-1-2-2z"></path> </g> <g> <path fill="#fff" d="M10.272 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z"></path> <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="2" d="M10.272 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z" clip-path="url(&quot;#e0noa&quot;)"></path> </g> <g> <path fill="#fff" d="M12.241 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z"></path> <path fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="2" d="M12.241 1.113a.556.556 0 1 1 1.113 0 .556.556 0 0 1-1.113 0z" clip-path="url(&quot;#e0nob&quot;)"></path> </g> </g> </g> </svg>
                <span>Ads</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1" style="border-color: rgb(118, 85, 201);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <g> <g> <g> <path fill="#7655c9" d="M0 4V0h4v4z"></path> </g> <g> <path fill="#7655c9" d="M0 10V6h4v4z"></path> </g> <g> <path fill="#7655c9" d="M6 4V0h4v4z"></path> </g> <g> <path fill="#7655c9" d="M6 10V6h4v4z"></path> </g> <g> <path fill="#7655c9" d="M12 4V0h4v4z"></path> </g> <g> <path fill="#7655c9" d="M0 16v-4h4v4z"></path> </g> <g> <path fill="#7655c9" d="M12 16v-4h4v4z"></path> </g> </g> </g> </svg>
                <span>Creative Cluster</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2" style="border-color: rgb(159, 129, 235);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"> <g> <g> <g> <path fill="#9f81eb" d="M14.58 12.28a3 3 0 0 1-2.995 2.996h-7.17A3 3 0 0 1 1.42 12.28V5.111a3 3 0 0 1 2.995-2.996h7.17a3 3 0 0 1 2.995 2.996v7.17zM11.585.696H4.415A4.42 4.42 0 0 0 0 5.11v7.17a4.42 4.42 0 0 0 4.415 4.415h7.17A4.42 4.42 0 0 0 16 12.28V5.111A4.42 4.42 0 0 0 11.584.696z"></path> </g> <g> <path fill="#9f81eb" d="M8 11.389a2.696 2.696 0 0 1-2.693-2.693A2.696 2.696 0 0 1 8 6.003a2.696 2.696 0 0 1 2.693 2.693A2.696 2.696 0 0 1 8 11.389zm0-6.8a4.112 4.112 0 0 0-4.107 4.107A4.112 4.112 0 0 0 8 12.803a4.112 4.112 0 0 0 4.107-4.107A4.112 4.112 0 0 0 8 4.588z"></path> </g> <g> <path fill="#9f81eb" d="M12.293 3.368a1.05 1.05 0 0 0-1.045 1.045c0 .275.112.544.307.739.194.194.464.306.738.306.276 0 .545-.112.74-.306a1.05 1.05 0 0 0 0-1.478 1.05 1.05 0 0 0-.74-.306z"></path> </g> </g> </g> </svg>
                <span>Instagram Post</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu3" style="border-color: rgb(0, 109, 240);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <g> <g> <path fill="#006df0" d="M13.844-.052H2.156C.966-.052 0 .913 0 2.104v11.688c0 1.19.965 2.156 2.156 2.156H7.92l.01-5.718H6.445a.35.35 0 0 1-.35-.349l-.008-1.843a.35.35 0 0 1 .35-.352H7.92v-1.78c0-2.067 1.263-3.192 3.106-3.192h1.513a.35.35 0 0 1 .35.35v1.554a.35.35 0 0 1-.35.35l-.928.001c-1.003 0-1.197.476-1.197 1.176v1.541h2.203a.35.35 0 0 1 .348.392l-.218 1.843a.35.35 0 0 1-.348.31h-1.975l-.01 5.717h3.43c1.19 0 2.156-.966 2.156-2.156V2.104c0-1.191-.965-2.156-2.156-2.156z"></path> </g> </g> </svg>
                <span>Facebook Post</span>
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="ad_picker">
                <div class="ad_picker-header">
                  <div class="header_left">
                    <div class="first">
                      <span>Graded by:</span>
                      <div class="InsightSelector ">
                        <div class="ValueContainer">
                          <div class="Value">ROAS (All)</div>
                          <svg width="11" height="6" viewBox="0 0 11 6" class="Arrow"> <defs> <path id="wi5fa" d="M420.536 387.193a.644.644 0 0 0-.466-.193h-9.393a.681.681 0 0 0-.483.193.681.681 0 0 0-.193.483c0 .176.064.337.193.466l4.696 4.696c.13.13.29.194.467.194a.644.644 0 0 0 .466-.194l4.713-4.696a.644.644 0 0 0 .193-.466.681.681 0 0 0-.193-.483z"></path> </defs> <g> <g transform="translate(-410 -387)"> <use fill="#0d182f" xlink:href="#wi5fa"></use> </g> </g> </svg>
                        </div>
                      </div>
                    </div>
                    <div class="second">
                      <span>Min. Spend:</span>
                      <div class="MinimumSpendInput">
                        <div class="Currency">A$</div>
                        <input type="number" min="0" step="1" value="0">
                      </div>
                    </div>
                    <div class="third">
                      <button type="button" class="FilterButton Closed ">
                        <span class="FilterMenu__WrapperTitle">Smart Performance Filtering</span>
                        <svg width="12" height="8" viewBox="0 0 12 8"> <g> <g> <path fill="#0d182f" d="M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6z"></path> </g> </g> </svg>
                      </button>
                    </div>
                  </div>
                  <div class="header_right">
                    <div class="DateSelector ">
                      <svg width="22" height="21" viewBox="0 0 22 21"> <defs> <clipPath id="clip-icon"> <rect width="22" height="21"></rect> </clipPath> </defs> <g id="icon" clip-path="url(#clip-icon)"> <path id="Path_6923" data-name="Path 6923" d="M18.7,2.813H15.053V.781a.761.761,0,1,0-1.521,0V2.813H5.93V.781a.761.761,0,1,0-1.521,0V2.813H.76A.773.773,0,0,0,0,3.594V19.219A.773.773,0,0,0,.76,20H18.7a.773.773,0,0,0,.76-.781V3.594A.773.773,0,0,0,18.7,2.813Zm-.76,1.562V6.328H1.521V4.375ZM1.521,18.438V7.891H17.942V18.438Zm11.244-7.582a.8.8,0,0,1,0,1.105L9.344,15.477a.739.739,0,0,1-1.072,0L6.7,13.863a.8.8,0,0,1,0-1.105.747.747,0,0,1,1.076,0L8.812,13.82,11.7,10.855A.732.732,0,0,1,12.765,10.855Z" transform="translate(1)" fill="#a0aabe"></path> </g> </svg>

                      <div class="DateDisplay">03/27/2020-04/10/2020</div>

                      <svg width="11" height="6" viewBox="0 0 11 6" class="Arrow"> <defs> <path id="wi5fa" d="M420.536 387.193a.644.644 0 0 0-.466-.193h-9.393a.681.681 0 0 0-.483.193.681.681 0 0 0-.193.483c0 .176.064.337.193.466l4.696 4.696c.13.13.29.194.467.194a.644.644 0 0 0 .466-.194l4.713-4.696a.644.644 0 0 0 .193-.466.681.681 0 0 0-.193-.483z"></path> </defs> <g> <g transform="translate(-410 -387)"> <use fill="#0d182f" xlink:href="#wi5fa"></use> </g> </g> </svg>
                    </div>
                  </div>
                </div>
                <div class="AdsContainer">
                  <div class="AdContainer ">
                    <div class="AdContainer__Overlay">
                      <label class="SimpleCheckbox" style="background-color: rgb(255, 255, 255);"><input class="SimpleCheckbox__Input" type="checkbox" readonly=""></label>
                      <div class="AdContainer__Insights">
                        <div class="AdContainer__Insight">ROAS (All):<span class="AdContainer__InsightValue">1.18x</span></div>
                        <div class="AdContainer__Insight">Amount Spent:<span class="AdContainer__InsightValue">A$252.6</span></div>
                        <div class="AdContainer__Insight">CTR:<span class="AdContainer__InsightValue">0.84%</span></div>
                      </div>
                      <div class="AdPreview" style="height: 273px; width: 240px;"><span class="Inner" style="height: 273px; width: 240px; overflow: hidden;"><iframe src="https://www.facebook.com/ads/api/preview_iframe.php?d=AQKoO842txs70nw-NRdu2Uj2Zk00-u7U4qRqdWZTHlvnLfx4QrLbjlBgJI0dhwHLJ5b2EBndKFIMVG0gETgDtjckTvsnjzZiMjL2YPgvgpoIoGr-nWF6NR2_dPNcM2jvuX2Sjw_4oCk9QJfmo89T_AMI8dLMcKaxZ00nifQWfLOVeqgXgeNFJNdzybYu4_VqHuFcKDSzk1AtU0510wQyRiRetGAyQSF-ct7Xvhp7Kt8bqYHA5Ah98S6Z0JvxK8b8_GcXd_xgcmG8rSmXvDjnAGaefORTvP5Z0KYfr8e1S6YTFPXsrdqzxkbFcQwnITTG67-DS5ljzdrIHstJTqYB8otQ&amp;t=AQKH5sAUk_Ev8YyE" width="540" height="690" scrolling="no" style="transform: matrix(0.39, 0, 0, 0.39, 14.7, 0); transform-origin: 0px 0px;"></iframe></span></div>
                    </div>
                    <button class="AdContainer__Zooming">
                      See the Ad preview
                      <svg width="13" height="14" viewBox="0 0 13 14"> <defs> <path id="5kifa" d="M850.62 950.435V937h12.458v13.435z"></path> <path id="5kifc" d="M857.46 942.075h-1.466v-1.469a.245.245 0 0 0-.244-.244.245.245 0 0 0-.245.244v1.469h-1.465a.245.245 0 0 0 0 .49h1.465v1.467a.245.245 0 0 0 .489 0v-1.468h1.466a.245.245 0 0 0 0-.49z"></path> <path id="5kife" d="M851.109 942.32a4.651 4.651 0 0 1 4.64-4.65 4.651 4.651 0 0 1 4.642 4.65 4.651 4.651 0 0 1-4.641 4.649 4.651 4.651 0 0 1-4.641-4.65zm11.902 7.408l-3.63-3.784a5.14 5.14 0 0 0-3.63-8.767 5.144 5.144 0 0 0-5.131 5.142c0 2.833 2.302 5.14 5.13 5.14a5.106 5.106 0 0 0 3.27-1.184l3.636 3.79a.25.25 0 0 0 .348.006.245.245 0 0 0 .007-.343z"></path> <clipPath id="5kifb"> <use xlink:href="#5kifa"></use> </clipPath> <clipPath id="5kifd"> <use xlink:href="#5kifa"></use> </clipPath> </defs> <g> <g transform="translate(-850 -937)"> <g> <g> <g> <g clip-path="url(#5kifb)"> <use fill="currentColor" xlink:href="#5kifc"></use> </g> </g> <g> <g clip-path="url(#5kifd)"> <use fill="currentColor" xlink:href="#5kife"></use> </g> </g> </g> </g> </g> </g> </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="container tab-pane fade"><br>
              2
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
              3
            </div>
            <div id="menu3" class="container tab-pane fade"><br>
              4
            </div>
          </div>
        </div>
      </div>

      <div class="creative_picker_ouside">
        <div class="DrawerControl">
          <span class="Title">Ad Selection Preview</span>
          <span class="CollapseButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"> <defs> <path id="6fc6a" d="M246.4 47.6l-4.6-4.6 4.6-4.6L245 37l-6 6 6 6z"></path> </defs> <g> <g transform="translate(-239 -37)"> <use fill="#a0aabe" xlink:href="#6fc6a"></use> </g> </g> </svg>
          </span>
          <span class="NumberOfSelected">0</span>
        </div>
        <div class="Menu">
          <div class="Title">Creative Set</div>
          <div class="PresetSelection">
            <div class="SimpleDropdown  ">
              <div class="SimpleDropdown__Header SimpleDropdown__Header--Large">
                New Preset
                <svg width="11" height="6" viewBox="0 0 11 6" class="SimpleDropdown__Arrow"> <defs> <path id="wi5fa" d="M420.536 387.193a.644.644 0 0 0-.466-.193h-9.393a.681.681 0 0 0-.483.193.681.681 0 0 0-.193.483c0 .176.064.337.193.466l4.696 4.696c.13.13.29.194.467.194a.644.644 0 0 0 .466-.194l4.713-4.696a.644.644 0 0 0 .193-.466.681.681 0 0 0-.193-.483z"></path> </defs> <g> <g transform="translate(-410 -387)"> <use fill="#0d182f" xlink:href="#wi5fa"></use> </g> </g> </svg>
              </div>
              <div class="SimpleDropdown__Body"><button type="button" class="SimpleDropdown__Option SimpleDropdown__Option--Selected">New Preset</button></div>
            </div>
            <div class="Save">Save Creative Selection</div>
          </div>
          <section class="PreviewContainer">
            <div class="ManuallyInsert">
              <div>
                <span>Manually insert by:</span>
                <div class="SimpleDropdown  ">
                  <div class="SimpleDropdown__Header SimpleDropdown__Header--Large">
                    Ad ID
                    <svg width="11" height="6" viewBox="0 0 11 6" class="SimpleDropdown__Arrow"> <defs> <path id="wi5fa" d="M420.536 387.193a.644.644 0 0 0-.466-.193h-9.393a.681.681 0 0 0-.483.193.681.681 0 0 0-.193.483c0 .176.064.337.193.466l4.696 4.696c.13.13.29.194.467.194a.644.644 0 0 0 .466-.194l4.713-4.696a.644.644 0 0 0 .193-.466.681.681 0 0 0-.193-.483z"></path> </defs> <g> <g transform="translate(-410 -387)"> <use fill="#0d182f" xlink:href="#wi5fa"></use> </g> </g> </svg>
                  </div>
                  <div class="SimpleDropdown__Body"><button type="button" class="SimpleDropdown__Option ">Post ID</button><button type="button" class="SimpleDropdown__Option SimpleDropdown__Option--Selected">Ad ID</button></div>
                </div>
                <div class="InfoTooltip">
                  <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12" height="12" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve" class=""> <image width="12" height="12" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEUAAACfq72gqr6hqb+f r7+hqr6hqr6fqb+gqr6fqr6fqr+gqr6gqr2fp7+fqr+fq7+fqr2fqr6gqr6hqr+gqr7///+UCDlX AAAAFHRSTlMAcM9fENDgUL+wYPCvIDBAkMDvb6ENyEUAAAABYktHRBXl2PmjAAAAB3RJTUUH4wMK ECABirzufAAAAFpJREFUCNcljusWgCAIg5dKlnbTeP9nbSx+7DD3AQLAktxTRlRhG5UKjbFZKzWR idcNO7UpcOsCEXqcVWMyft2/CazjEawFA8O1IKKZ3xkBj9p/1Ir+0GiNDD4bqQcYxMA81QAAACV0 RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wMy0xMFQxNjozMjowMSswMzowMOTdfCgAAAAldEVYdGRhdGU6 bW9kaWZ5ADIwMTktMDMtMTBUMTY6MzI6MDErMDM6MDCVgMSUAAAAAElFTkSuQmCC"></image> </svg>
                </div>
              </div>
              <div>
                <input min="0" step="1" type="text" class="SimpleInput  " placeholder="Enter a Ad ID to add " value="">
                <button type="button" class="MadgicxButton main ">
                  <div class="Wrapper">
                    <div>Submit</div>
                  </div>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>
</div>