<!--**********************************
            Footer start
***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="#">Brainio</a> 2020</p>
        </div>
    </div>
<!--**********************************
    Footer end
***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->
<%= javascript_include_tag 'admin_layout', 'data-turbolinks-track': 'reload' %>