    <!-- Start footer section -->
    <footer class="footer-section section-gap-half">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 footer-left">
                    <a href="#">
                      <div class="logo-box">
                        <img src="/assets/logo-w.png" alt="">
                      </div>
                    </a>
                    <p class="copyright-text">&copy; 2019 Design With
                        <i class="fa fa-heart" aria-hidden="true"></i> By
                        <a href="#" target="_blank"> Brainio</a>
                    </p>
                </div>
                <div class="col-lg-7">
                    <ul id="social">
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu">
                        <li>
                          <%= link_to "About Us", welcome_about_us_path %>
                        </li>
                        <li>
                          <%= link_to "Terms & Conditionss", welcome_terms_and_conditionss_path %>
                        </li>
                        <li>
                          <%= link_to "Privacy Policy", welcome_privacy_policy_path %>
                        </li>
                        <li>
                          <%= link_to "Cookie Policy", welcome_cookie_policy_path %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer section -->

    <div class="scroll-top">
        <i class="ti-angle-up"></i>
    </div>

    <!--
JS
============================================= -->
